<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmt.mybatis.mapper.UserMapper">
    <!--int insertUser();-->
    <insert id="insertUser">
        insert into t_user values (null, 'admin', '123456', 23, '男', '12345@qq.com')
    </insert>
    <!--int updateUser();-->
    <update id="updateUser">
        update t_user set username='张三' where id = 7
    </update>
    <!--int deleteUser();-->
    <delete id="deleteUser">
        delete from t_user where username = '张三'
    </delete>
    <!--selectUserById();-->
    <!--
        查询功能的标签必须设置resultType或者resultMap
        resultType:设置默认的映射关系
        resultMap:设置自定义的映射关系(字段名和属性名不一样时)
    -->
    <select id="selectUserById" resultType="User">
        select * from t_user where id='6'
    </select>
    <!--selectAllUser()-->
    <select id="selectAllUser" resultType="User">
        select * from t_user
    </select>
</mapper>
